@media (max-width: 600px) {
  .mode-buttons {
    flex-direction: column;
    align-items: center;
  }

  .score {
    width: 100%;
  }

  .score-container {
    max-width: 120px;
  }

  .button {
    margin: 20px 0;
  }
}
